.article__tag{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    height: 24px;
    width: 94px;

    font-size: var(--font-article-tag);
    color: var(--base-secondary-color-2-transparent-80);
    background-color: var(--base-secondary-color-4);
}