.article__image{
    display: block;
    width: 100%;
    padding: 0;
    object-fit: contain;
}

.article__image * {
    width: 100%;
    height: 355px;
}

.article__image--main,
.article__image--main *{
    height: 333px;
}

/* .article__image--padding{
    padding: 0px 17.5px;
} */

@media(min-width: 768px){
    .article__image{
        max-width: 561px;
        max-height: 321px;
    }
}